*
{
  font-size: 10px;
  font-family: helvetica;
}

h6, h5
{
  font-weight: bold;
}

.larger-heading
{
  font-size: 12px;
}

.category-underline
{
  text-decoration: underline;
  font-weight: bold;
}

.experience-dates
{
  font-weight: bold;
}
